
   <h1> codeial <%=title%> </h1> 
 
 <section id="feed-posts">

 <h4>Posts</h4> 
   <form  action="/posts/create" id="new-post-form" method="POST">

     <textarea  name ="content" rows="3" cols="30" placeholder="Type here.."> </textarea> 
     <input type="submit" name="" value="Post">
     
  </form>
    
 </section>